.about-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #0071B8;
}
.about-container1 {
  width: 100%;
  height: 1271px;
  display: flex;
  position: relative;
  align-items: flex-start;
  background-size: cover;
  justify-content: flex-start;
  background-image: url("public/background-1500w.png");
  background-position: center;
}
.about-container2 {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 123px;
  margin: auto;
  display: flex;
  position: absolute;
  max-width: 1200px;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: center;
}
.about-home {
  top: 70px;
  left: 352px;
  color: rgb(206, 216, 247);
  margin: auto;
  position: absolute;
  font-size: 20px;
  font-family: "Square Sans Serif 7";
  text-decoration: none;
}
.about-project {
  top: 70px;
  left: 592px;
  color: rgb(206, 216, 247);
  margin: auto;
  position: absolute;
  font-family: "Square Sans Serif 7";
  text-decoration: none;
}
.about-text02 {
  font-size: 20px;
}
.about-contact {
  top: 70px;
  left: 744px;
  color: rgb(206, 216, 247);
  right: 400px;
  margin: auto;
  position: absolute;
  font-size: 20px;
  font-family: "Square Sans Serif 7";
  text-decoration: none;
}
.about-about {
  top: 70px;
  left: 466px;
  color: rgb(206, 216, 247);
  margin: auto;
  position: absolute;
  font-family: "Square Sans Serif 7";
  text-decoration: none;
}
.about-text06 {
  font-size: 20px;
}
.about-container3 {
  top: 400px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 756px;
  margin: auto;
  display: flex;
  position: absolute;
  max-width: 1200px;
  align-items: flex-start;
  justify-content: flex-start;
}
.about-skill {
  top: 60px;
  left: 112px;
  width: 982px;
  height: 684px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  justify-content: flex-start;
}
.about-image {
  top: 0px;
  left: 42px;
  width: 405px;
  height: 302px;
  position: absolute;
  object-fit: cover;
}
.about-image1 {
  left: 0px;
  width: 982px;
  bottom: 0px;
  height: 26px;
  position: absolute;
  object-fit: cover;
}
.about-image2 {
  top: 0px;
  left: 472px;
  width: 462px;
  height: auto;
  position: absolute;
  object-fit: cover;
}
.about-text08 {
  top: 80px;
  left: 680px;
  color: rgb(206, 216, 247);
  right: 60px;
  position: absolute;
  font-size: 18px;
  font-family: "Kalam";
}
.about-vision {
  top: 226px;
  left: 741px;
  color: #CED8F7;
  width: 100px;
  height: 38px;
  position: absolute;
  transition: 0.3s;
  font-family: "Kalam";
  border-color: #CED8F7;
  text-decoration: none;
  background-color: transparent;
}
.about-vision:hover {
  color: #0675BA;
  background-color: #ced8f7;
}
.about-connect {
  left: 0px;
  right: 0px;
  width: 894px;
  bottom: 60px;
  height: 301px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: flex-start;
}
.about-text09 {
  top: 22px;
  left: 50px;
  color: #CED8F7;
  position: absolute;
  font-size: 30px;
  font-family: "Square Sans Serif 7";
}
.about-image3 {
  top: 0px;
  left: 0px;
  width: 894px;
  height: 301px;
  margin: auto;
  position: absolute;
  object-fit: cover;
}
.about-contact-in {
  top: 0px;
  left: 1px;
  width: 796px;
  height: 201px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: flex-start;
}
.about-container4 {
  top: 73px;
  left: 49px;
  width: 795px;
  height: 37.390625px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: flex-start;
}
.about-textinput {
  top: 0px;
  left: 256px;
  color: var(--dl-color-gray-black);
  width: 311px;
  margin: auto;
  opacity: 0.75;
  position: absolute;
  font-family: "Kalam";
  border-color: #CED8F7;
  background-color: #CED8F7;
}
.about-textinput1 {
  top: 0px;
  color: var(--dl-color-gray-black);
  right: 0px;
  opacity: 0.75;
  position: absolute;
  font-family: "Kalam";
  border-color: #CED8F7;
  background-color: #CED8F7;
}
.about-textinput2 {
  top: 1px;
  left: 0px;
  color: var(--dl-color-gray-black);
  width: 243px;
  margin: auto;
  opacity: 0.75;
  position: absolute;
  font-family: "Kalam";
  border-color: #CED8F7;
  background-color: #CED8F7;
}
.about-textinput3 {
  top: 124px;
  left: 49px;
  color: var(--dl-color-gray-black);
  width: 796px;
  height: 144px;
  opacity: 0.75;
  position: absolute;
  font-family: "Kalam";
  border-color: #CED8F7;
  background-color: #CED8F7;
}
.about-button {
  top: 20.3125px;
  color: rgb(206, 216, 247);
  right: 48px;
  width: 129px;
  position: absolute;
  font-size: 18px;
  text-align: center;
  transition: 0.3s;
  font-family: "Kalam";
  border-color: #CED8F7;
  background-color: transparent;
}
.about-button:hover {
  color: #0071B8;
  background-color: #ced8f7;
}
.about-container5 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-container6 {
  top: 140px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 285px;
  margin: auto;
  display: flex;
  position: absolute;
  max-width: 1200px;
  align-items: flex-start;
  justify-content: center;
}
.about-info-1 {
  top: 80px;
  left: 112px;
  color: rgb(206, 216, 247);
  right: 480px;
  padding: var(--dl-space-space-halfunit);
  position: absolute;
  font-size: 18px;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  text-align: left;
  font-family: "Kalam";
  font-weight: 500;
  margin-left: var(--dl-space-space-halfunit);
  padding-top: 2px;
  margin-right: var(--dl-space-space-halfunit);
  padding-left: 2px;
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: 2px;
  padding-bottom: 2px;
}
.about-sub {
  top: 20px;
  left: 120px;
  color: rgb(206, 216, 247);
  position: absolute;
  font-size: 35px;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-family: "Square Sans Serif 7";
  font-weight: 200;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  letter-spacing: 0.7px;
}
.about-scale {
  top: 230px;
  left: 120px;
  width: 982px;
  height: 26px;
  position: absolute;
  max-width: 1200px;
  object-fit: cover;
}
.about-image4 {
  top: 5px;
  left: 792px;
  width: 200px;
  position: absolute;
  object-fit: cover;
}
.about-image5 {
  top: 62px;
  left: 465px;
  width: 200px;
  position: absolute;
  object-fit: cover;
}
.about-footer {
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 108px;
  margin: auto;
  display: flex;
  position: absolute;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
}
.about-container7 {
  top: 40px;
  left: 140px;
  width: 455.99609375px;
  height: 22.98828125px;
  display: flex;
  position: absolute;
  max-width: 1200px;
  align-items: flex-start;
  justify-content: center;
}
.about-home1 {
  top: 0px;
  left: 0px;
  color: rgb(206, 216, 247);
  margin: auto;
  position: absolute;
  font-size: 20px;
  font-family: "Square Sans Serif 7";
  text-decoration: none;
}
.about-project1 {
  top: 0px;
  left: 203.984375px;
  color: rgb(206, 216, 247);
  margin: auto;
  position: absolute;
  font-family: "Square Sans Serif 7";
  text-decoration: none;
}
.about-text12 {
  font-size: 20px;
}
.about-contact1 {
  top: 0px;
  color: rgb(206, 216, 247);
  right: 0px;
  margin: auto;
  position: absolute;
  font-size: 20px;
  font-family: "Square Sans Serif 7";
  text-decoration: none;
}
.about-about1 {
  top: 0px;
  left: 95.99609375px;
  color: rgb(206, 216, 247);
  margin: auto;
  position: absolute;
  font-family: "Square Sans Serif 7";
  text-decoration: none;
}
.about-text16 {
  font-size: 20px;
}
.about-link {
  display: contents;
}
.about-insta {
  top: 25px;
  right: 240px;
  width: 42px;
  height: 42px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.about-link1 {
  display: contents;
}
.about-linkedin {
  top: 25px;
  left: 784px;
  width: 42px;
  height: 42px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.about-link2 {
  display: contents;
}
.about-git {
  top: 25px;
  left: 850px;
  width: 42px;
  height: 42px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.about-link3 {
  display: contents;
}
.about-twitter {
  top: 25px;
  right: 175px;
  width: 42px;
  height: 42px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
@media(max-width: 991px) {
  .about-container {
    z-index: 100;
  }
  .about-container1 {
    height: 1164px;
    margin-bottom: 2px;
  }
  .about-home {
    top: 62px;
    left: 216px;
  }
  .about-project {
    top: 62px;
    left: 484px;
  }
  .about-contact {
    top: 62px;
    left: 644px;
  }
  .about-about {
    top: 62px;
    left: 344px;
  }
  .about-skill {
    top: 0px;
    left: 0px;
  }
  .about-image {
    top: 1px;
    left: 100px;
    width: 371px;
    height: auto;
  }
  .about-image1 {
    left: 100px;
    width: 810px;
    bottom: 68px;
    height: 21px;
  }
  .about-image2 {
    top: 1px;
    right: 85px;
    width: 416px;
    height: auto;
  }
  .about-text08 {
    left: 640px;
    right: 120px;
  }
  .about-vision {
    top: 211px;
    left: 693px;
  }
  .about-connect {
    width: 800px;
    bottom: 120px;
    height: 280px;
    padding-top: 0px;
    margin-bottom: 0px;
  }
  .about-text09 {
    top: -35px;
    left: 49px;
  }
  .about-image3 {
    top: -52px;
    right: -3px;
    width: 788px;
    height: 266px;
  }
  .about-contact-in {
    left: 0px;
  }
  .about-container4 {
    top: 0px;
    left: 0px;
    width: 774px;
  }
  .about-textinput {
    top: 14px;
    left: 272px;
    width: 277px;
    bottom: -13px;
  }
  .about-textinput1 {
    top: 14px;
    right: 0px;
    width: 220px;
    bottom: -13px;
  }
  .about-textinput2 {
    top: 14px;
    left: 26px;
    bottom: -12px;
  }
  .about-textinput3 {
    top: 57px;
    left: 25px;
    width: 751px;
  }
  .about-button {
    top: -40px;
    right: 45px;
  }
  .about-container6 {
    top: 100px;
  }
  .about-info-1 {
    left: 100px;
    right: 320px;
  }
  .about-sub {
    left: 100px;
  }
  .about-scale {
    left: 100px;
    width: 810px;
    height: 21px;
  }
  .about-image4 {
    top: 41px;
    left: 720px;
    right: 113px;
    width: 161px;
    height: 161px;
  }
  .about-image5 {
    top: 61px;
    left: 443px;
  }
  .about-footer {
    left: 0px;
    right: 0px;
    bottom: 57px;
    margin: auto;
  }
  .about-container7 {
    top: 51px;
    left: 119px;
  }
  .about-insta {
    top: 35px;
    left: 791px;
  }
  .about-linkedin {
    top: 35px;
    left: 671px;
  }
  .about-git {
    top: 35px;
    left: 730px;
  }
  .about-twitter {
    top: 35px;
    left: 850px;
    right: 135px;
  }
}
