.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #0071B8;
}
.home-container1 {
  width: 100%;
  height: 1138px;
  display: flex;
  position: relative;
  align-items: flex-start;
  background-size: cover;
  justify-content: flex-start;
  background-image: url("public/background-1500w.png");
  background-position: center;
}
.home-container2 {
  top: 600px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 439px;
  margin: auto;
  display: flex;
  position: absolute;
  max-width: 1200px;
  align-items: flex-end;
  justify-content: center;
}
.home-project {
  top: 6px;
  left: 140px;
  width: 34px;
  height: 324px;
  position: absolute;
  margin-top: var(--dl-space-space-unit);
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
}
.home-project-end {
  top: 6px;
  right: 120px;
  width: 34px;
  height: 325px;
  position: absolute;
  margin-top: var(--dl-space-space-unit);
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
}
.home-spectra {
  top: 22px;
  left: 222px;
  width: 218px;
  height: 334px;
  display: flex;
  position: absolute;
  align-items: flex-end;
  justify-content: center;
}
.home-image {
  top: 0px;
  left: 0px;
  width: 218px;
  height: 334px;
  position: absolute;
  object-fit: cover;
}
.home-text {
  left: 18px;
  color: rgb(206, 216, 247);
  right: 30px;
  bottom: 19.25px;
  position: absolute;
  text-align: left;
  font-family: "Kalam";
  padding-top: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.home-text01 {
  font-size: 15px;
}
.home-text02 {
  font-size: 15px;
}
.home-text03 {
  font-size: 15px;
}
.home-eagle-rocket {
  top: 22px;
  left: 750px;
  width: 219px;
  height: 336px;
  display: flex;
  position: absolute;
  align-items: flex-end;
  justify-content: center;
}
.home-image1 {
  top: 0px;
  left: 0px;
  width: 219px;
  height: 336px;
  position: absolute;
  object-fit: cover;
}
.home-text05 {
  left: 18px;
  color: rgb(206, 216, 247);
  right: 30px;
  bottom: 28px;
  position: absolute;
  text-align: left;
  font-family: "Kalam";
  padding-top: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.home-pheonix-flc {
  top: 22px;
  left: 484px;
  width: 219px;
  height: 336px;
  display: flex;
  position: absolute;
  align-items: flex-end;
  justify-content: center;
}
.home-image2 {
  top: 0px;
  left: 0px;
  width: 219px;
  height: 336px;
  position: absolute;
  object-fit: cover;
  transition: 0.3s;
}

.home-text08 {
  left: 18px;
  color: rgb(206, 216, 247);
  right: 30px;
  bottom: 16px;
  position: absolute;
  text-align: left;
  font-family: "Kalam";
  padding-top: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.home-view-more {
  top: 370px;
  left: 870px;
  color: rgb(206, 216, 247);
  position: absolute;
  font-size: 18px;
  transition: 0.3s;
  font-family: "Kalam";
  border-style: hidden;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0);
}
.home-view-more:hover {
  text-decoration: underline;
}
.home-scale-bottom {
  left: 120px;
  width: 982px;
  bottom: 4px;
  height: 26px;
  position: absolute;
  object-fit: cover;
}
.home-container3 {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 123px;
  margin: auto;
  display: flex;
  position: absolute;
  max-width: 1200px;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: center;
}
.home-home {
  top: 60px;
  left: 352px;
  color: rgb(206, 216, 247);
  margin: auto;
  position: absolute;
  font-size: 20px;
  font-family: "Square Sans Serif 7";
  border-width: 0px;
  text-decoration: none;
  background-color: transparent;
}
.home-project1 {
  top: 60px;
  left: 592px;
  color: rgb(206, 216, 247);
  margin: auto;
  position: absolute;
  font-family: "Square Sans Serif 7";
  border-width: 0px;
  text-decoration: none;
  background-color: transparent;
}
.home-text14 {
  font-size: 20px;
}
.home-contact {
  top: 60px;
  left: 744px;
  color: rgb(206, 216, 247);
  right: 300px;
  margin: auto;
  position: absolute;
  font-size: 20px;
  font-family: "Square Sans Serif 7";
  border-width: 0px;
  text-decoration: none;
  background-color: transparent;
}
.home-about {
  top: 60px;
  left: 466px;
  color: rgb(206, 216, 247);
  margin: auto;
  position: absolute;
  font-family: "Square Sans Serif 7";
  border-width: 0px;
  text-decoration: none;
  background-color: transparent;
}
.home-text16 {
  font-size: 20px;
}
.home-container4 {
  top: 140px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 415px;
  margin: auto;
  display: flex;
  position: absolute;
  max-width: 1200px;
  align-items: flex-end;
  justify-content: flex-start;
}
.home-info-1 {
  top: 110px;
  left: 112px;
  color: rgb(206, 216, 247);
  right: 500px;
  padding: var(--dl-space-space-halfunit);
  position: absolute;
  font-size: 18px;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  text-align: left;
  font-family: "Kalam";
  font-weight: 500;
  margin-left: var(--dl-space-space-halfunit);
  padding-top: 2px;
  margin-right: var(--dl-space-space-halfunit);
  padding-left: 2px;
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: 2px;
  padding-bottom: 2px;
}
.home-text18 {
  font-family: "Kalam";
}
.home-info-2 {
  top: 245px;
  left: 112px;
  color: rgb(206, 216, 247);
  right: 500px;
  position: absolute;
  font-size: 18px;
  margin-top: var(--dl-space-space-halfunit);
  font-family: "Kalam";
  margin-left: var(--dl-space-space-halfunit);
  padding-top: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.home-sub {
  top: 52px;
  left: 112px;
  color: rgb(206, 216, 247);
  position: absolute;
  font-size: 24.7px;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-family: "Square Sans Serif 7";
  font-weight: 200;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  letter-spacing: 0.7px;
}
.home-rover {
  top: 20px;
  right: 60px;
  width: 415px;
  height: 345px;
  position: absolute;
  margin-top: 0px;
  object-fit: cover;
  margin-left: 20px;
  margin-right: 0px;
}
.home-about1 {
  top: 345px;
  left: 120px;
  color: #ced8f7;
  width: 120px;
  position: absolute;
  transition: 0.3s;
  border-color: #ced8f7;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0);
}
.home-about1:hover {
  color: #0071B8;
  background-color: #ced8f7;
}
.home-text22 {
  font-size: 18px;
  font-family: "Kalam";
}
.home-resume {
  top: 345px;
  left: 280px;
  color: #ced8f7;
  width: 120px;
  position: absolute;
  transition: 0.3s;
  border-color: #ced8f7;
  background-color: rgba(255, 255, 255, 0);
}
.home-resume:hover {
  color: #0071B8;
  background-color: #ced8f7;
}
.home-text25 {
  font-size: 18px;
  font-family: "Kalam";
}
.home-dhanush-science {
  top: 10px;
  left: 112px;
  color: rgb(206, 216, 247);
  position: absolute;
  font-size: 52px;
  font-style: normal;
  font-family: "Square Sans Serif 7";
  font-weight: 400;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-scale {
  top: 410px;
  left: 120px;
  width: 982px;
  height: 26px;
  position: absolute;
  max-width: 1200px;
  object-fit: cover;
}
.home-container5 {
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 108px;
  margin: auto;
  display: flex;
  position: absolute;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
}
.home-container6 {
  top: 40px;
  left: 140px;
  width: 455.99609375px;
  height: 22.98828125px;
  display: flex;
  position: absolute;
  max-width: 1200px;
  align-items: flex-start;
  justify-content: center;
}
.home-home1 {
  top: 0px;
  left: 0px;
  color: rgb(206, 216, 247);
  margin: auto;
  position: absolute;
  font-size: 20px;
  font-family: "Square Sans Serif 7";
  border-width: 0px;
  text-decoration: none;
  background-color: transparent;
}
.home-project2 {
  top: 0px;
  left: 203.984375px;
  color: rgb(206, 216, 247);
  margin: auto;
  position: absolute;
  font-family: "Square Sans Serif 7";
  border-width: 0px;
  text-decoration: none;
  background-color: transparent;
}
.home-text30 {
  font-size: 20px;
}
.home-contact1 {
  top: 0px;
  color: rgb(206, 216, 247);
  right: -30px;
  margin: auto;
  position: absolute;
  font-size: 20px;
  font-family: "Square Sans Serif 7";
  border-width: 0px;
  text-decoration: none;
  background-color: transparent;
}
.home-about2 {
  top: 0px;
  left: 95.99609375px;
  color: rgb(206, 216, 247);
  margin: auto;
  position: absolute;
  font-family: "Square Sans Serif 7";
  border-width: 0px;
  text-decoration: none;
  background-color: transparent;
}
.home-text34 {
  font-size: 20px;
}
.home-link {
  display: contents;
}
.home-insta {
  top: 35px;
  right: 240px;
  width: 42px;
  height: 42px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.home-link1 {
  display: contents;
}
.home-linkedin {
  top: 35px;
  left: 784px;
  width: 42px;
  height: 42px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.home-link2 {
  display: contents;
}
.home-git {
  top: 35px;
  left: 850px;
  width: 42px;
  height: 42px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.home-link3 {
  display: contents;
}
.home-twitter {
  top: 35px;
  right: 175px;
  width: 42px;
  height: 42px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
@media(max-width: 991px) {
  .home-project {
    left: 100px;
  }
  .home-project-end {
    top: 6px;
    right: 63px;
  }
  .home-spectra {
    top: 19px;
    left: 168px;
  }
  .home-eagle-rocket {
    top: 20px;
    left: 645px;
    right: 118px;
  }
  .home-pheonix-flc {
    top: 20px;
    left: 410px;
  }
  .home-view-more {
    left: 760px;
  }
  .home-scale-bottom {
    left: 100px;
    width: 810px;
    height: 21px;
  }
  .home-home {
    top: 62px;
    left: 216px;
  }
  .home-project1 {
    top: 62px;
    left: 484px;
  }
  .home-contact {
    top: 62px;
    left: 644px;
  }
  .home-about {
    top: 62px;
    left: 344px;
    bottom: 23px;
  }
  .home-container4 {
    height: 469px;
  }
  .home-info-1 {
    top: 80px;
    left: 92px;
    right: 450px;
  }
  .home-info-2 {
    top: 250px;
    left: 92px;
  }
  .home-sub {
    top: 28px;
    left: 92px;
  }
  .home-rover {
    top: 80px;
    right: 60px;
    width: 399px;
    height: 310px;
  }
  .home-about1 {
    top: 380px;
    left: 100px;
  }
  .home-resume {
    top: 380px;
    left: 260px;
  }
  .home-dhanush-science {
    top: -17px;
    left: 100px;
    width: 637px;
    margin: auto;
  }
  .home-scale {
    top: 430px;
    left: 100px;
    width: 810px;
    bottom: 13px;
    height: 21px;
  }
  .home-container6 {
    top: 34px;
    left: 102px;
  }
  .home-insta {
    top: 35px;
    left: 791px;
  }
  .home-linkedin {
    top: 35px;
    left: 671px;
  }
  .home-git {
    top: 35px;
    left: 730px;
    right: 100px;
  }
  .home-twitter {
    top: 35px;
    left: 850px;
  }
}
